<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="katlynbecvar.cs.courseregistration">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/course_registration_header"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CourseRegistration">
        <activity android:name=".ViewScheduleActivity"
            android:label="@string/view_schedule_header"
            android:parentActivityName=".LoginActivity"/>
        <activity android:name=".ViewClassesActivity"
            android:label="@string/view_classes_header"
            android:parentActivityName=".LoginActivity"/>
        <activity android:name=".RegisterForClassesActivity"
            android:label="@string/register_for_class_header"
            android:parentActivityName=".LoginActivity"/>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>